<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.PLStudio.dt.unit.MetalQuad</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a  SwiftUI Metal application for shader experiment</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>NameOfInitialFileForEditor</key>
	<string>Renderer.swift</string>
	<key>Platforms</key>
	<array/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>testingSystem</string>
			<key>Override</key>
			<string>None</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME:identifier___App.swift</string>
		<string>ContentView.swift</string>
		<string>MetalKitView.swift</string>
		<string>Renderer.swift</string>
		<string>Shaders.metal</string>
		<string>SharedHeader.h</string>
	</array>
	<key>Project</key>
    <dict>
        <!-- These project-level settings are basically settings that we wished were the defaults... but they aren't -->
        <key>SharedSettings</key>
        <dict>
            <key>ALWAYS_SEARCH_USER_PATHS</key>
            <string>NO</string>
            <key>MTL_FAST_MATH</key>
            <string>YES</string>
        </dict>
        <key>Configurations</key>
        <dict>
            <key>Debug</key>
            <dict>
                <key>MTL_ENABLE_DEBUG_INFO</key>
                <string>INCLUDE_SOURCE</string>
            </dict>
            <key>Release</key>
            <dict>
                <key>MTL_ENABLE_DEBUG_INFO</key>
                <string>NO</string>
            </dict>
        </dict>
    </dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>SWIFT_OBJC_BRIDGING_HEADER</key>
				<string>___PROJECTNAME___/SharedHeader.h</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME:identifier___App.swift</key>
		<dict>
			<key>Path</key>
			<string>AppMain.swift</string>
		</dict>
		<key>ContentView.swift</key>
		<dict>
			<key>Path</key>
			<string>ContentView.swift</string>
		</dict>
		<key>MetalKitView.swift</key>
		<dict>
			<key>Path</key>
			<string>MetalKitView.swift</string>
		</dict>
		<key>Renderer.swift</key>
		<dict>
			<key>Path</key>
			<string>Renderer.swift</string>
		</dict>
		<key>Shaders.metal</key>
		<dict>
			<key>Path</key>
			<string>Shaders.metal</string>
		</dict>
		<key>SharedHeader.h</key>
		<dict>
			<key>Path</key>
			<string>SharedHeader.h</string>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
